<!-- <h1> {{name}} </h1>
<button ng-click="FBLogin()">Facebook Login</button>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->

<div class="container">
	<div class="login-page">
  <div class="form">
    
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button class="loginBtn" ng-click="alert('Please Use Facebook Login')">login</button>
      <hr>
      <span>OR</span>
      <hr>
      <button class="btn btn-primary facebookBtn" ng-click="FBLogin()">Facebook Login</button>
    </form>
  </div>
</div>
</div>
